@charset "UTF-8";

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'RIDIBatang', sans-serif;
    font-size:12px;
    min-width: 1080px;
}

.layout_width{
	width:1080px;
	min-width:1080px;
	margin:0 auto;
}

/* 탑 메뉴 관련 S */

.top_menu_wrap{
	margin-bottom:30px;
	border-bottom:1px solid #ccc;
}

.top_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_left{
	float:left;
}

.top_menu_left li{
	float:left;
}

.top_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_right{
	float:right;
}

.top_menu_right li{
	float:left;
}

.top_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px 15px;
	transition:all 0.5s;
}

.top_menu_wrap a:hover,
.top_menu_wrap a:focus{
	color:dodgerblue;
}

.title_logo img{
	width:100%;
	display:block;
}

.title_logo a{
	margin:0 auto;
	width:150px;
	display:block;
	transition:all 0.5s;
}

.title_logo a:hover,
.title_logo a:focus{
	background-color:skyblue;
}

.top_menu_wrap .hello{
	padding:20px;
	font-size:1.2rem;
	color:black;
}

.top_menu_wrap .hello .name{
	color:dodgerblue;
}

/* 탑 메뉴 관련 E */

/* 서브 메뉴 관련 S */

.sub_menu_wrap{
	margin:30px 0 70px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.sub_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_left{
	float:left;
}

.sub_menu_left li{
	float:left;
}

.sub_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_right{
	float:right;
}

.sub_menu_right li{
	float:left;
}

.sub_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px;
	transition:all 0.5s;
}

.sub_menu_wrap a:hover,
.sub_menu_wrap a:focus{
	color:dodgerblue;
}

.search_form{
	width:200px;
	line-height:57px;
	position:relative;
	top:2px;
}

.search_form input[type='image']{
	width:30px;
	position:absolute;
	top:12px;
	right:0;
	padding:5px;
}

.search_form label input[type='text']{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.2rem;
	padding:5px 40px 5px 10px;
	width:100%;
	border:0;
	box-shadow:0 0 3px #000;
}

.layer_menu{
	cursor:pointer;
	padding:10.5px;
	font-size:3rem;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin-right:5px;
	transition:all 0.5s;
}

.layer_menu:focus,
.layer_menu:hover{
	color:dodgerblue;
}

/* 서브 메뉴 관련 E */

/* 푸터 메뉴 관련 S */

.footer_menu_wrap{
	margin-top:100px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.footer_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_left{
	float:left;
}

.footer_menu_left li{
	float:left;
}

.footer_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_right{
	float:right;
}

.footer_menu_right li{
	float:left;
}

.footer_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px 15px;
	transition:all 0.5s;
}

.footer_menu_wrap a:hover,
.footer_menu_wrap a:focus{
	color:dodgerblue;
}

.footer_menu_right a{
	padding:14px;
}

.footer_menu_right img{
	width:25px;
	position:relative;
	top:2px;
}

.footer_info_wrap{
	border-bottom:1px solid #ccc;
}

.footer_info_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.footer_info_wrap .info_box:first-child{
	margin-left:0;
}

.footer_info_wrap .info_box{
	float:left;
	width:300px;
	height:130px;
	border-right:1px solid #ccc;
	margin:30px 20px;
	line-height:1.7rem;
}

.footer_info_wrap .info_box:last-child{
	margin-right:0;
	border-right:0;
}

.footer_info_wrap dt{
	font-size:1.4rem;
	margin-bottom:15px;
}

.footer_info_wrap dd{
	font-size:1.2rem;
	color:#999;
}

.footer_info_wrap .cs_cellphone{
	font-size:2rem;
	color:#000;
	margin-bottom:15px;
}

.footer_info_wrap .cs_cellphone i{
	padding-right:5px;
	font-size:1.5rem;
}

.footer_bottom_wrap{
	background-color:#eee;
	border-bottom:1px solid #ccc;
}

.company_info{
	width:400px;
	padding:25px 0;
}

.company_info ul li{
	font-size:1rem;
	display:inline-block;
	margin-right:20px;
	margin-bottom:7px;
	color:#777;
}

.company_info .copyright{
	margin-top:10px;
}

/* 푸터 메뉴 관련 E */


/* 회원가입 관련 S */

.member_join_form{
	width:100%;
}

.member_join_title{
	font-size:1.8rem;
	margin-bottom:30px;
}

.member_join_ul{
	font-size:1.5rem;
	margin-bottom:50px;
}

.member_join_ul li{
	padding:15px;
	border-bottom:1px solid #ccc;
}

.member_join_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_join_ul li:first-child{
	border-top:1px solid #ccc;
}

.member_join_ul li label{
	float:left;
	display:inline-block;
	width:200px;
	line-height:32px;
}

.member_join_ul li input{
	float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #999;
	margin-right:10px;
	width:250px;
}

.member_join_ul li select{
	float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #999;
	margin-right:10px;
	width:70px;
	height: 30px;
}

.member_join_ul li input.memPh{
	width:80px;
}

.member_join_ul li input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_join_ul li .msg{
	font-size:1.2rem;
	line-height:32px;
}

.member_join_agree{
	background-color:#f3f3f3;
	border:1px solid #ccc;
	margin-bottom:30px;
}

.member_join_agree li{
	padding:25px 30px;
	border-bottom:1px solid #ccc;
	font-size:1.2rem;
}

.member_join_agree li:last-child{
	border:0;
}


.member_join_agree .agree_title{
	font-size:1.5rem;
}

.member_join_agree .terms{
	border:1px solid #ccc;
	background-color:#fff;
	padding:20px;
	color:#555;
	font-size:1.2rem;
	margin:15px 0;
	height: 250px;
	overflow: scroll;
}

.member_join_agree .terms pre{
	white-space: pre-wrap;
}

.member_join_submit_wrap{
	text-align:center;
}

.member_join_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
}

.member_join_ul li .memAd_ul{
	width:calc(100% - 200px);
	float:left;
}

.member_join_ul li .memAd_ul li{
	border:0;
	padding:0;
	padding-bottom:15px;
}

.member_join_ul li .memAd_ul li input{
	width:400px;
}

.member_join_ul li .memAd_ul li:first-child input{
	width:120px;
}

.member_join_ul li .memAd_ul li:last-child{
	padding:0;
}

.member_join_ul li input[type='button']{
	cursor:pointer;
}

.member_join_ul .msg.error{
	color:red;
}

.member_join_ul .msg.success{
	color:dodgerblue;
}

/* 회원가입 관련 E */


/* 로그인 관련 S */

.member_login_form{
	width:500px;
	margin:0 auto;
}

.member_login_form .find_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.member_login_form .member_login_title{
	font-size:2rem;
	text-align:center;
	padding-bottom:30px;
	border-bottom:1px solid #000;
	margin-bottom:20px;
}

.member_login_form input{
	width:100%;
	border:0;
	border-bottom:1px solid #eee;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.5rem;
    padding:20px;
}

.member_login_form input:focus{
	border-bottom:1px solid #aaa;
}

.member_login_form input[type='submit']{
	background-color:#ccc;
	cursor:pointer;
	transition:all 0.5s;
	margin-bottom:10px;
}

.member_login_form .submit{
	margin-top:20px;
}

.member_login_form input[type='submit']:focus,
.member_login_form input[type='submit']:hover{
	background-color:#555;
	color:#fff;
}

.member_login_form .find{
	width:50%;
	float:left;
	position:relative;
}

.member_login_form .find a{
	text-align:center;
	padding:20px;
	display:block;
	font-size:1.3rem;
	transition:all 0.5s;
}

.member_login_form .find a:hover,
.member_login_form .find a:focus{
	color:#aaa;
}

.member_login_form .find .bar{
	position:absolute;
	height:30px;
	right:0;
	top:calc((100% - 30px) / 2);
	border-right:1px solid #aaa;
}

.member_login_form .join{
	margin-top:10px;
	background-color:skyblue;
	font-size:1.5rem;
	margin-bottom:30px;
}

.member_login_form .join a{
	padding:23px;
	display:block;
	text-align:center;
	transition:all 0.5s;
}

.member_login_form .join a:hover,
.member_login_form .join a:focus{
	background-color:dodgerblue;
	color:#fff;
}

.member_login_form .join_notice .text1{
	font-size:1.5rem;
	margin-bottom:10px;
}

.member_login_form .join_notice .text2{
	line-height:1.5rem;
}

/* 로그인 관련 E */


/* 아이디 찾기 관련 S */

.member_findid_text1{
	font-size:1.8rem;
	margin-bottom:15px;
}

.member_findid_text2{
	font-size:1.2rem;
	color:#999;
	margin-bottom:70px;
	line-height: 1.6rem;
}

.member_findid_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_findid_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_findid_form .find_method{
	line-height:20px;
	margin-bottom:30px;
}

.member_findid_form .find_method:after{
	clear:both;
	display:block;
	content:'';
}

.member_findid_form .find_method .left{
	float:left;
	width:30%;
	position:relative;
	top:1px;
}

.member_findid_form .find_method .right{
	float:left;
	width:35%;
}

.member_findid_ul .none{
	display:none;
}

.member_findid_ul li{
	margin-bottom:15px;
}

.member_findid_ul li:last-child{
	margin:0;
}

.member_findid_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_findid_ul li > label{
	float:left;
	width:30%;
	line-height:34px;
}

.member_findid_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:70%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_findid_ul li > input#memPh{
	width:20%;
	margin-right:5%;
}

.member_findid_ul li > input#memPh:last-child{
	margin:0;
}

.member_findid_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_findid_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

.findidresult_box{
	text-align: center;
}

.findidresult_box img{
	width: 150px;
}

.findidresult_box .info{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.findidresult_box .info_box{
	width: 500px;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 0 5px lightgrey;
	padding: 20px;
	font-size: 1.3rem;
	margin-bottom: 30px;
}

.findidresult_box .info_box li{
	margin-bottom: 10px;
}

.findidresult_box .info_box li:last-child{
	margin: 0;
}

.findidresult_box .info_text{
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #555;
	margin-bottom: 20px;
}

.findidresult_box .buttons{
	font-size: 1.3rem;
}

.findidresult_box .buttons a{
	display: inline-block;
	width: 130px;
	height: 45px;
	line-height: 45px;
	background-color: lightblue;
	border-radius: 10px;
	box-shadow: 0 0 3px dodgerblue;
	margin-right: 20px;
	transition: all 0.5s;
}

.findidresult_box .buttons a:last-child{
	margin: 0;
}

.findidresult_box .buttons a:focus,
.findidresult_box .buttons a:hover{
	background-color: dodgerblue;
	color: white;
}

/* 아이디 찾기 관련 E */


/* 비밀번호 찾기 관련 S */

.member_findpw_text1{
	font-size:1.8rem;
	margin-bottom:15px;
}

.member_findpw_text2{
	font-size:1.2rem;
	color:#999;
	margin-bottom:70px;
	line-height: 1.6rem;
}

.member_findpw_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_findpw_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_findpw_ul li{
	margin-bottom:15px;
}

.member_findpw_ul li:last-child{
	margin:0;
}

.member_findpw_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_findpw_ul li > label{
	float:left;
	width:30%;
	line-height:34px;
}

.member_findpw_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:70%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_findpw_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_findpw_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

.findpwresult_box{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
	text-align: center;
}

.findpwresult_box img{
	width: 150px;
}

.findpwresult_box .text1{
	font-size: 2rem;
	margin-bottom: 30px;
}

.findpwresult_box .text2{
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #555;
}

/* 비밀번호 찾기 관련 E */


/* 비밀번호 변경 관련 S */

.member_changepw_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_changepw_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_changepw_ul li{
	margin-bottom:15px;
}

.member_changepw_ul li:last-child{
	margin:0;
}

.member_changepw_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_changepw_ul li > label{
	float:left;
	width:35%;
	line-height:34px;
}

.member_changepw_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:65%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_changepw_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_changepw_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

/* 비밀번호 변경 관련 E */


/* 마이페이지 관련 S */

.mypage_index_wrap .title{
	font-size:2rem;
	margin-bottom:30px;
}

.mypage_index_wrap .info_box{
	padding:20px;
	border-radius:5px;
	font-size:1.3rem;
	margin-bottom:50px;
}

.mypage_index_wrap .info_box:after{
	clear:both;
	display:block;
	content:'';
}

.mypage_index_wrap .info_box .left{
	float:left;
	width:calc(20% - 20px);
	padding:10px;
	height:180px;
	margin-right:20px;
}

.mypage_index_wrap .info_box .left .profile{
	border-radius:100px;
	box-shadow:0 0 5px dodgerblue;
	height:100%;
}

.mypage_index_wrap .info_box .right{
	margin-left:20px;
	float:left;
	width:calc(80% - 20px);
}

.mypage_index_wrap .info_box .right .text1{
	margin-bottom:20px;
	font-size:1.5rem;
}

.mypage_index_wrap .info_box .right .text2{
	margin-bottom:20px;
}

.mypage_index_wrap .info_box .right .text2 a{
	color:dodgerblue;
	padding:5px;
}

.mypage_index_wrap .info_box .right .text2 i{
	position:relative;
	top:2px;
	padding-right:2px;
}

.mypage_index_wrap .info_box .right .text3{
	line-height:2rem;
}

.mypage_index_wrap .benefit_info{
	font-size:1.3rem;
	padding:40px 0;
	border:1px solid #ccc;
	border-radius:10px;
}

.mypage_index_wrap .benefit_info:after{
	clear:both;
	display:block;
	content:'';
}

.mypage_index_wrap .benefit_info .left{
	width:20%;
	float:left;
	text-align:center;
}

.mypage_index_wrap .benefit_info .right{
	width:80%;
	float:left;
	position:relative;
	padding-left:30px;
}

.mypage_index_wrap .benefit_info .right .bar{
	border-left:1px solid #ccc;
	position:absolute;
	left:0;
	height:50px;
	top:calc((100% - 50px) / 2);
}

/* 마이페이지 관련 E */

/* 게시글 작성 관련 S */



/* 게시글 작성 관련 E */