@charset "UTF-8";

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'RIDIBatang', sans-serif;
    font-size:12px;
    min-width: 1080px;
}

.layout_width{
	width:1080px;
	min-width:1080px;
	margin:0 auto;
}

.black{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 10;
}

.dn{
	display: none;
}

input[type='button']{
    cursor: pointer;
}

input[type='file']{
    cursor: pointer;
}

/* 레이어 팝업 관련 S */

.layer_popup{
	position: fixed;
	z-index: 11;
	width: 600px;
	height: 400px;
	left: calc((100% - 600px) / 2);
	top: calc((100% - 400px) / 2);
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px white;
}

.layer_popup iframe{
	width: 100%;
	height: 100%;
}

/* 레이어 팝업 관련 E */

/* 탑 메뉴 관련 S */

.top_menu_wrap{
	margin-bottom:30px;
	border-bottom:1px solid #ccc;
}

.top_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_left{
	float:left;
}

.top_menu_left li{
	float:left;
}

.top_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_right{
	float:right;
}

.top_menu_right li{
	float:left;
}

.top_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.top_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px 15px;
	transition:all 0.5s;
}

.top_menu_wrap a:hover,
.top_menu_wrap a:focus{
	color:dodgerblue;
}

.title_logo img{
	width:100%;
	display:block;
}
.title_logo a{
	margin:0 auto;
	width:150px;
	display:block;
	transition:all 0.5s;
}

.title_logo a:hover,
.title_logo a:focus{
	background-color:skyblue;
}

.top_menu_wrap .hello{
	line-height: 57px;
	padding-right: 15px;
	font-size:1.2rem;
	color:black;
}

.top_menu_wrap .hello .name{
	color:dodgerblue;
}

/* 탑 메뉴 관련 E */

/* 서브 메뉴 관련 S */

.sub_menu_wrap{
	margin:30px 0 70px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.sub_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_left{
	float:left;
}

.sub_menu_left li{
	float:left;
}

.sub_menu_left li:first-child{
	margin-right: 15px;
}

.sub_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_right{
	float:right;
}

.sub_menu_right li{
	float:left;
}

.sub_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.sub_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px;
	transition:all 0.5s;
}

.sub_menu_wrap a:hover,
.sub_menu_wrap a:focus{
	color:dodgerblue;
}

.sub_menu_wrap .search_form{
	width:200px;
	line-height:57px;
	position:relative;
	top:2px;
}

.sub_menu_wrap .search_form input[type='image']{
	width:30px;
	position:absolute;
	top:12px;
	right:0;
	padding:5px;
}

.sub_menu_wrap .search_form label input[type='text']{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.2rem;
	padding:5px 40px 5px 10px;
	width:100%;
	border:0;
	box-shadow:0 0 3px #000;
}

.layer_menu{
	cursor:pointer;
	padding:10.5px;
	font-size:3rem;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin-right:5px;
	transition:all 0.5s;
}

.layer_menu:focus,
.layer_menu:hover{
	color:dodgerblue;
}

/* 서브 메뉴 관련 E */

/* 푸터 메뉴 관련 S */

.footer_menu_wrap{
	margin-top:70px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.footer_menu_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_left{
	float:left;
}

.footer_menu_left li{
	float:left;
}

.footer_menu_left:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_right{
	float:right;
}

.footer_menu_right li{
	float:left;
}

.footer_menu_right:after{
	clear:both;
	display:block;
	content:'';
}

.footer_menu_wrap a{
	font-size:1.4rem;
	display:block;
	padding:20px 15px;
	transition:all 0.5s;
}

.footer_menu_wrap a:hover,
.footer_menu_wrap a:focus{
	color:dodgerblue;
}

.footer_menu_right a{
	padding:14px;
}

.footer_menu_right img{
	width:25px;
	position:relative;
	top:2px;
}

.footer_info_wrap{
	border-bottom:1px solid #ccc;
}

.footer_info_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.footer_info_wrap .info_box:first-child{
	margin-left:0;
}

.footer_info_wrap .info_box{
	float:left;
	width:330px;
	height:130px;
	border-right:1px solid #ccc;
	margin:30px 20px;
	line-height:1.7rem;
}

.footer_info_wrap .info_box:last-child{
	margin-right:0;
	border-right:0;
}

.footer_info_wrap dt{
	font-size:1.4rem;
	margin-bottom:15px;
}

.footer_info_wrap dd{
	font-size:1.2rem;
	color:#999;
}

.footer_info_wrap .cs_cellphone{
	font-size:2rem;
	color:#000;
	margin-bottom:15px;
}

.footer_info_wrap .cs_cellphone i{
	padding-right:5px;
	font-size:1.5rem;
}

.footer_bottom_wrap{
	background-color:#eee;
	border-bottom:1px solid #ccc;
}

.company_info{
	width:400px;
	padding:25px 0;
}

.company_info ul li{
	font-size:1rem;
	display:inline-block;
	margin-right:20px;
	margin-bottom:7px;
	color:#777;
}

.company_info .copyright{
	margin-top:10px;
}

/* 푸터 메뉴 관련 E */


/* 회원가입 관련 S */

.member_join_form{
	width:100%;
}

.member_join_title{
	font-size:1.8rem;
	margin-bottom:30px;
}

.member_join_ul{
	font-size:1.5rem;
	margin-bottom:50px;
}

.member_join_ul li{
	padding:15px;
	border-bottom:1px solid #ccc;
}

.member_join_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_join_ul li:first-child{
	border-top:1px solid #ccc;
}

.member_join_ul li label{
	float:left;
	display:inline-block;
	width:200px;
	line-height:32px;
}

.member_join_ul li input{
	float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #999;
	margin-right:10px;
	width:250px;
}

.member_join_ul li select{
	float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:0 10px;
	border:0;
	box-shadow:0 0 3px #999;
	margin-right:10px;
	width:70px;
	height: 30px;
}

.member_join_ul li input.memPh{
	width:80px;
}

.member_join_ul li input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_join_ul li .msg{
	font-size:1.2rem;
	line-height:32px;
}

.member_join_agree{
	background-color:#f3f3f3;
	border:1px solid #ccc;
	margin-bottom:30px;
}

.member_join_agree li{
	padding:25px 30px;
	border-bottom:1px solid #ccc;
	font-size:1.2rem;
}

.member_join_agree li:last-child{
	border:0;
}


.member_join_agree .agree_title{
	font-size:1.5rem;
}

.member_join_agree .terms{
	border:1px solid #ccc;
	background-color:#fff;
	padding:20px;
	color:#555;
	font-size:1.2rem;
	margin:15px 0;
	height: 250px;
	overflow: scroll;
	line-height: 1.7rem;
}

.member_join_agree .terms pre{
	white-space: pre-wrap;
}

.member_join_submit_wrap{
	text-align:center;
}

.member_join_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
}

.member_join_ul li .memAd_ul{
	width:calc(100% - 200px);
	float:left;
}

.member_join_ul li .memAd_ul li{
	border:0;
	padding:0;
	padding-bottom:15px;
}

.member_join_ul li .memAd_ul li input{
	width:400px;
}

.member_join_ul li .memAd_ul li:first-child input{
	width:120px;
}

.member_join_ul li .memAd_ul li:last-child{
	padding:0;
}

.member_join_ul li input[type='button']{
	cursor:pointer;
}

.member_join_ul .msg.error{
	color:red;
}

.member_join_ul .msg.success{
	color:dodgerblue;
}

/* 회원가입 관련 E */


/* 로그인 관련 S */

.member_login_form{
	width:500px;
	margin:0 auto;
}

.member_login_form .find_wrap:after{
	clear:both;
	display:block;
	content:'';
}

.member_login_form .member_login_title{
	font-size:2rem;
	text-align:center;
	padding-bottom:30px;
	border-bottom:1px solid #000;
	margin-bottom:20px;
}

.member_login_form input{
	width:100%;
	border:0;
	border-bottom:1px solid #eee;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.5rem;
    padding:20px;
}

.member_login_form input:focus{
	border-bottom:1px solid #aaa;
}

.member_login_form input[type='submit']{
	background-color:#ccc;
	cursor:pointer;
	transition:all 0.5s;
	margin-bottom:10px;
}

.member_login_form .submit{
	margin-top:20px;
}

.member_login_form input[type='submit']:focus,
.member_login_form input[type='submit']:hover{
	background-color:#555;
	color:#fff;
}

.member_login_form .find{
	width:50%;
	float:left;
	position:relative;
}

.member_login_form .find a{
	text-align:center;
	padding:20px;
	display:block;
	font-size:1.3rem;
	transition:all 0.5s;
}

.member_login_form .find a:hover,
.member_login_form .find a:focus{
	color:#aaa;
}

.member_login_form .find .bar{
	position:absolute;
	height:30px;
	right:0;
	top:calc((100% - 30px) / 2);
	border-right:1px solid #aaa;
}

.member_login_form .join{
	margin-top:10px;
	background-color:skyblue;
	font-size:1.5rem;
	margin-bottom:30px;
}

.member_login_form .join a{
	padding:23px;
	display:block;
	text-align:center;
	transition:all 0.5s;
}

.member_login_form .join a:hover,
.member_login_form .join a:focus{
	background-color:dodgerblue;
	color:#fff;
}

.member_login_form .join_notice .text1{
	font-size:1.5rem;
	margin-bottom:10px;
}

.member_login_form .join_notice .text2{
	line-height:1.5rem;
}

/* 로그인 관련 E */


/* 아이디 찾기 관련 S */

.member_findid_text1{
	font-size:1.8rem;
	margin-bottom:15px;
}

.member_findid_text2{
	font-size:1.2rem;
	color:#999;
	margin-bottom:70px;
	line-height: 1.6rem;
}

.member_findid_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_findid_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_findid_form .find_method{
	line-height:20px;
	margin-bottom:30px;
}

.member_findid_form .find_method:after{
	clear:both;
	display:block;
	content:'';
}

.member_findid_form .find_method .left{
	float:left;
	width:30%;
	position:relative;
	top:1px;
}

.member_findid_form .find_method .right{
	float:left;
	width:35%;
}

.member_findid_ul .none{
	display:none;
}

.member_findid_ul li{
	margin-bottom:15px;
}

.member_findid_ul li:last-child{
	margin:0;
}

.member_findid_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_findid_ul li > label{
	float:left;
	width:30%;
	line-height:34px;
}

.member_findid_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:70%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_findid_ul li > input#memPh{
	width:20%;
	margin-right:5%;
}

.member_findid_ul li > input#memPh:last-child{
	margin:0;
}

.member_findid_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_findid_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

.findidresult_box{
	text-align: center;
}

.findidresult_box img{
	width: 150px;
}

.findidresult_box .info{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.findidresult_box .info_box{
	width: 500px;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 0 5px lightgrey;
	padding: 20px;
	font-size: 1.3rem;
	margin-bottom: 30px;
}

.findidresult_box .info_box li{
	margin-bottom: 10px;
}

.findidresult_box .info_box li:last-child{
	margin: 0;
}

.findidresult_box .info_text{
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #555;
	margin-bottom: 20px;
}

.findidresult_box .buttons{
	font-size: 1.3rem;
}

.findidresult_box .buttons a{
	display: inline-block;
	width: 130px;
	height: 45px;
	line-height: 45px;
	background-color: lightblue;
	border-radius: 10px;
	box-shadow: 0 0 3px dodgerblue;
	margin-right: 20px;
	transition: all 0.5s;
}

.findidresult_box .buttons a:last-child{
	margin: 0;
}

.findidresult_box .buttons a:focus,
.findidresult_box .buttons a:hover{
	background-color: dodgerblue;
	color: white;
}

/* 아이디 찾기 관련 E */


/* 비밀번호 찾기 관련 S */

.member_findpw_text1{
	font-size:1.8rem;
	margin-bottom:15px;
}

.member_findpw_text2{
	font-size:1.2rem;
	color:#999;
	margin-bottom:70px;
	line-height: 1.6rem;
}

.member_findpw_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_findpw_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_findpw_ul li{
	margin-bottom:15px;
}

.member_findpw_ul li:last-child{
	margin:0;
}

.member_findpw_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_findpw_ul li > label{
	float:left;
	width:30%;
	line-height:34px;
}

.member_findpw_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:70%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_findpw_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_findpw_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

.findpwresult_box{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
	text-align: center;
}

.findpwresult_box img{
	width: 150px;
}

.findpwresult_box .text1{
	font-size: 2rem;
	margin-bottom: 30px;
}

.findpwresult_box .text2{
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #555;
}

/* 비밀번호 찾기 관련 E */


/* 비밀번호 변경 관련 S */

.member_changepw_form{
	width:500px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
	border:1px solid #ccc;
	font-size:1.5rem;
}

.member_changepw_form .title{
	font-size:2rem;
	text-align:center;
	margin-bottom:40px;
}

.member_changepw_ul li{
	margin-bottom:15px;
}

.member_changepw_ul li:last-child{
	margin:0;
}

.member_changepw_ul li:after{
	clear:both;
	display:block;
	content:'';
}

.member_changepw_ul li > label{
	float:left;
	width:35%;
	line-height:34px;
}

.member_changepw_ul li > input{
    font-family: 'RIDIBatang', sans-serif;
	font-size:1.5rem;
	float:left;
	width:65%;
	padding:5px 10px;
	border:0;
	box-shadow:0 0 3px #aaa;
}

.member_changepw_ul li > input:focus{
	box-shadow:0 0 3px dodgerblue;
}

.member_changepw_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
	background-color:#2a2a2a;
	color:white;
	font-size:1.5rem;
	padding:10px 40px;
	cursor:pointer;
	border-radius:5px;
	border:0;
	width:50%;
	display:block;
	margin:30px auto 0 auto;
}

/* 비밀번호 변경 관련 E */


/* 마이페이지 관련 S */

.mypage_index_wrap .title{
	font-size:1.8rem;
	margin-bottom:30px;
}

.mypage_index_wrap .info_box{
	padding:20px;
	border-radius:5px;
	font-size:1.3rem;
	margin-bottom:50px;
}

.mypage_index_wrap .info_box:after{
	clear:both;
	display:block;
	content:'';
}

.mypage_index_wrap .info_box .left{
	float:left;
	width:calc(20% - 20px);
	padding:10px;
	height:180px;
	margin-right:20px;
}

.mypage_index_wrap .info_box .left .profile{
	border-radius:100px;
	box-shadow:0 0 5px dodgerblue;
	height:100%;
}

.mypage_index_wrap .info_box .right{
	margin-left:20px;
	float:left;
	width:calc(80% - 20px);
}

.mypage_index_wrap .info_box .right .text1{
	margin-bottom:20px;
	font-size:1.5rem;
}

.mypage_index_wrap .info_box .right .text2{
	margin-bottom:20px;
}

.mypage_index_wrap .info_box .right .text2 a{
	color:dodgerblue;
	padding:5px;
}

.mypage_index_wrap .info_box .right .text2 i{
	position:relative;
	top:2px;
	padding-right:2px;
}

.mypage_index_wrap .info_box .right .text3{
	line-height:2rem;
}

.mypage_index_wrap .info_box .right .text4{
	margin-left: 20px;
	margin-right: 5px;
}

.mypage_index_wrap .benefit_info{
	font-size:1.3rem;
	padding:40px 0;
	border:1px solid #ccc;
	border-radius:10px;
}

.mypage_index_wrap .benefit_info:after{
	clear:both;
	display:block;
	content:'';
}

.mypage_index_wrap .benefit_info .left{
	width:20%;
	float:left;
	text-align:center;
}

.mypage_index_wrap .benefit_info .right{
	width:80%;
	float:left;
	position:relative;
	padding-left:30px;
}

.mypage_index_wrap .benefit_info .right .bar{
	border-left:1px solid #ccc;
	position:absolute;
	left:0;
	height:50px;
	top:calc((100% - 50px) / 2);
}

/* 마이페이지 관련 E */

/* 게시글 목록 관련 S */

.board_list_table{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	table-layout: fixed;
}

.board_list_table th,
.board_list_table td{
	border-bottom: 1px solid #ccc;
}

.board_list_table_wrap{
	padding: 0 20px;
}

.board_list_wrap .title{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

.board_list_wrap .sub_title{
	font-size: 1.4rem;
	color: #aaa;
	margin-bottom: 40px;
}

.board_list_table thead{
	font-size: 1.4rem;
}

.board_list_table thead th{
	padding: 15px;
}

.board_list_table tbody{
	font-size: 1.2rem;
	text-align: center;
}

.board_list_table tbody td{
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

.board_list_table tbody td:nth-child(3){
	text-align: left;
}

.board_list_table tbody tr:nth-child(2n+1){
	background-color: azure;
}

.board_list_table tbody td a{
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.board_list_table tbody td a:first-child{
	max-width: 90%;
}

.board_list_table tbody td a:nth-child(2){
	color: red;
}

.board_list_table .subject .searched{
	background-color: skyblue;
	color: dodgerblue;
}

.board_list_table .subject i{
	padding-right: 2px;
	position: relative;
	top: 1px;
}

.board_list_table .subject i:last-child{
	padding-right: 5px;
}

.board_list_wrap a.write{
	display: inline-block;
	padding: 10px 60px;
	border-radius: 5px;
	box-shadow: 0 0 3px dodgerblue;
	font-size: 1.3rem;
	margin-top: 50px;
	transition: all 0.5s;
}

.board_list_wrap a.write:focus,
.board_list_wrap a.write:hover{
	background-color: skyblue;
}

.board_list_wrap .write_button_wrap{
	text-align: center;
}

.pagination{
	margin: 20px 0;
	text-align: center;
}

.pagination li.on{
	font-size: 2rem;
}

.pagination li{
	display: inline-block;
	font-size: 1.5rem;
	margin: 3px;
}

.pagination li a{
	padding: 3px;
}

/* 게시글 목록 관련 E */

/* 게시글 작성 관련 S */

.board_write_wrap .title{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

.board_write_wrap .sub_title{
	font-size: 1.4rem;
	color: #aaa;
	margin-bottom: 40px;
}

.board_write_form{
	font-size: 1.4rem;
}

.board_write_ul > li{
	border-bottom: 1px solid #ddd;
}

.board_write_ul > li:first-child{
	border-top: 1px solid #ddd;
}

.board_write_ul > li:last-child{
	border: 0;
}

.board_write_ul > li:after{
	clear: both;
	display: block;
	content: '';
}

.board_write_ul > li > label{
	float: left;
	width: 20%;
	padding: 0 20px;
	line-height: 57px;
	position: relative;
	top: 1px;
}

.board_write_ul .height{
	float: left;
	width: 80%;
    line-height: 57px;
}

.board_write_ul .textarea_li{
	padding: 15px 0;
}

.board_write_ul .height > input,
.board_write_ul li .radio{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.4rem;
    padding: 5px 10px;
	border: 0;
	box-shadow: 0 0 3px black;
	border-radius: 5px;
}

.board_write_ul .height > input{
	position: relative;
	top: 2px;
}

.board_write_ul .height .upload_info{
	color: red;
	margin-left: 10px;
	font-size: 1.2rem;
}

.board_write_ul li .file_title{
	float: left;
	width: 20%;
	padding: 0 20px;
	line-height: 57px;
}

.board_write_ul li .file_content{
	float: left;
	width: 80%;
	line-height: 57px;
}

.board_write_ul li .radio{
	box-shadow: 0 0 0 #fff;
	padding:0;
}

.board_write_ul li .radio label{
	margin-right: 10px;
}

.board_write_ul .height > input:focus{
	box-shadow: 0 0 3px red;
}

.board_write_ul .height > input.subject{
	width: 40%;
}

.board_write_ul li.buttons{
	margin-top: 20px;
}

.board_write_ul li.buttons:after{
	clear: both;
	display: block;
	content: '';
}

.board_write_ul li.buttons .left{
	float: left;
	width: 20%;
}

.board_write_ul li.buttons .right{
	float: right;
	width: 80%;
	text-align: right;
}

.board_write_ul li.buttons a{
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	box-shadow: 0 0 3px dodgerblue;
	transition: all 0.5s;
}

.board_write_ul li.buttons a:hover,
.board_write_ul li.buttons a:focus{
	background-color: skyblue;
}

.board_write_ul li.buttons a.submit{
	margin-right: 10px;
}

.board_write_ul li span.notice{
	line-height: 38px;
	padding-left: 20px;
	font-size: 1.2rem;
	color: red;
}

.board_write_ul .height > input[type='checkbox']{
	transform : scale(1.5);
	box-shadow: 0 0 0 #fff;
}

.board_write_ul .height > input[type='checkbox']:focus{
	box-shadow: 0 0 0 #fff;
}

.board_write_ul .height > input[type='radio']{
	position: relative;
	top: 1px;
}

.board_write_ul .height > input[name='subject']{
	position: relative;
	top: 0;
}

.board_write_ul .height .file_box{
	box-shadow: 0 0 3px red;
	border-radius: 5px;
	margin: 15px 0;
	padding: 0 10px;
	line-height: 35px;
}

.board_write_ul .file_box i{
	cursor: pointer;
	padding: 5px;
	position: relative;
	top: 2px;
}

/* 첨부파일 삭제 버튼 관련 */
.board_write_ul .none{
	opacity: 0.3;
}

/* 게시글 작성 관련 E */


/* 게시물 보기 관련 S */

.board_view_wrap > .title{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

.board_view_wrap > .sub_title{
	font-size: 1.4rem;
	color: #aaa;
	margin-bottom: 40px;
}

.board_view_ul{
	padding: 0 10px;
	font-size: 1.3rem;
}

.board_view_ul .float_left li:nth-child(1){
	width: 100%;
	float: left;
}

.board_view_ul .float_left li:nth-child(2),
.board_view_ul .float_left li:nth-child(3),
.board_view_ul .float_left li:nth-child(4),
.board_view_ul .float_left li:nth-child(5){
	width: 50%;
	float: left;
}

.board_view_ul .float_left:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_ul > li,
.board_view_ul .float_left li{
	border-top: 1px solid #ddd;
}

.board_view_ul > li:after,
.board_view_ul .float_left li:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_ul > li .title,
.board_view_ul .float_left li .title{
	float: left;
	width: 20%;
	padding: 15px;
}

.board_view_ul > li .content,
.board_view_ul .float_left li .content{
	float: left;
	width: 80%;
	padding: 15px;
}

.board_view_ul .float_left li:first-child .title{
	width: 10%;
}

.board_view_ul .float_left li:first-child .content{
	width: 90%;
}

.board_view_ul .float_left li .content .modDt{
	margin-left: 10px;
	color: red;
}

.board_view_ul > li .title.post{
	float: left;
	width: 15%;
	padding: 0 15px;
	line-height: 47px;
}

.board_view_ul > li .content.post{
	float: left;
	width: 85%;
	padding: 0 15px;
	line-height: 47px;
}

.board_view_ul > li .file_title{
	float: left;
	width: 15%;
	padding: 0 15px;
	line-height: 47px;
}

.board_view_ul > li .file_content{
	float: left;
	width: 85%;
	padding: 0 15px;
	line-height: 47px;
}

.board_view_ul > li .file_content a{
	transition: all 0.5s;
}

.board_view_ul > li .file_content a:focus,
.board_view_ul > li .file_content a:hover{
	opacity: 0.5;
}

.board_view_ul > li .title i{
	position: relative;
	top: 1px;
}

.board_view_ul > li .contents{
	width: 100%;
	padding: 30px 20px;
	min-height: 250px;
	line-height: 2rem;
}

.board_view_ul > li.buttons{
	padding: 30px 0 50px 0;
}

.board_view_ul > li.buttons:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_ul > li.buttons .left{
	float: left;
	width: 20%;
}

.board_view_ul > li.buttons .right{
	float: right;
	width: 80%;
	text-align: right;
}

.board_view_ul > li.buttons a{
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	box-shadow: 0 0 3px dodgerblue;
	transition: all 0.5s;
}

.board_view_ul > li.buttons a:hover,
.board_view_ul > li.buttons a:focus{
	background-color: skyblue;
}

.board_view_ul > li.buttons a.modify{
	margin-right: 10px;
}

.board_view_ul .prev_li{
	border-bottom: 1px solid #ddd;
}

.board_view_ul .next_li{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* 게시물 보기 관련 E */

/* 프론트 메인 관련 S */

.main_board_wrap{
	padding: 0 30px;
	margin-bottom: 90px;
}

.main_board_wrap .board_box:after{
	clear: both;
	display: block;
	content: '';
}

.main_board_wrap .board_box .board{
	float: left;
	width: calc((100% - 100px) / 2);
	margin-right: 100px;
}

.main_board_wrap .board_box .board:last-child{
	margin: 0;
}

.main_board_wrap .board_box .title_box:after{
	clear: both;
	display: block;
	content: '';
}

.main_board_wrap .board_box .title_box .left{
	float: left;
}

.main_board_wrap .board_box .title_box .left i{
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.main_board_wrap .board_box .title_box .right{
	float: right;
}

.main_board_wrap .board_box .title_box .right i{
	position: relative;
	top: 3px;
}

.main_board_wrap .board_box .title_box{
	display: block;
	font-size: 1.5rem;
	padding: 5px;
	margin-bottom: 10px;
	transition: all 0.5s;
}

.main_board_wrap .board_box .title_box:focus,
.main_board_wrap .board_box .title_box:hover{
	color: dodgerblue;
}

.main_board_wrap .board_box .list_box{
	padding: 15px 20px;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
	height: 150px;
}

.main_board_wrap .board_box .list_box li a{
	display: inline-block;
	padding: 3px;
	font-size: 1.2rem;
	margin-bottom: 2px;
	transition: all 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main_board_wrap .board_box .list_box li a:first-child{
	max-width: 90%;
}

.main_board_wrap .board_box .list_box li a:nth-child(2){
	color: red;
}

.main_board_wrap .board_box .list_box li a:focus,
.main_board_wrap .board_box .list_box li a:hover{
	color: dodgerblue;
}

.main_board_wrap .board_box .list_box li:last-child a{
	margin: 0;
}

/* 프론트 메인 관련 E */

/* 게시판 댓글 등록 관련 S */

.board_view_wrap .comment_form_box{
	box-shadow: 0 0 3px #aaa;
	border-radius: 5px;
	background-color: #fafafa;
	padding: 20px 25px;
	margin-bottom: 30px;
}

.board_view_wrap .comment_form_box .title{
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.board_view_wrap .comment_form_box li{
	margin-bottom: 15px;
}

.board_view_wrap .comment_form_box li:last-child{
	margin: 0;
}

.board_view_wrap .comment_form_box li:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_wrap .comment_form_box textarea{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
	resize: none;
	float: left;
	height: 80px;
	width: calc(92.5% - 15px);
	margin-right: 15px;
	padding: 7px 10px;
	border:0;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
}

.board_view_wrap .comment_form_box button{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
	float: left;
	display: block;
	height: 80px;
	width: 7.5%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
	border: 0;
	transition: all 0.5s;
}

.board_view_wrap .comment_form_box button:focus,
.board_view_wrap .comment_form_box button:hover{
	background-color: skyblue;
}

/* 게시판 댓글 등록 관련 E */

/* 게시판 댓글 보기 관련 S */

.board_view_wrap .comment_list_wrap{
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	padding: 15px 20px;
	margin-bottom: 30px;
}

.board_view_wrap .comment_list_wrap ul{
	border-bottom: 2px solid #eee;
}

.board_view_wrap .comment_list_wrap ul:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_wrap .comment_list_wrap li{
	padding: 15px 5px;
	float: left;
}

.board_view_wrap .comment_list_wrap .memNm{
	width: 20%;
}

.board_view_wrap .comment_list_wrap .regDt{
	width: 20%;
}

.board_view_wrap .comment_list_wrap .modDt{
	width: 25%;
	color: red;
}

.board_view_wrap .comment_list_wrap .buttons{
	width: 35%;
	text-align: right;
}

.board_view_wrap .comment_list_wrap .buttons a{
	padding: 7px 10px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px dodgerblue;
	transition: all 0.5s;
}

.board_view_wrap .comment_list_wrap .buttons a:last-child{
	margin: 0;
}

.board_view_wrap .comment_list_wrap .buttons a:hover,
.board_view_wrap .comment_list_wrap .buttons a:focus{
	background-color: skyblue;
}

.board_view_wrap .comment_list_wrap .comment{
	width: 100%;
	padding: 20px 5px;
	border-top: 1px solid #eee;
}

/* 게시판 댓글 보기 관련 E */

/* 게시판 댓글 수정 관련 S */


.board_view_wrap .comment_modify_box{
	box-shadow: 0 0 3px #aaa;
	border-radius: 5px;
	background-color: #fafafa;
	padding: 20px 25px;
	margin-bottom: 30px;
}

.board_view_wrap .comment_modify_box .title{
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.board_view_wrap .comment_modify_box ul{
	border: 0;
}

.board_view_wrap .comment_modify_box li{
	margin-bottom: 15px;
	width: 100%;
}

.board_view_wrap .comment_modify_box li:last-child{
	margin: 0;
}

.board_view_wrap .comment_modify_box li:after{
	clear: both;
	display: block;
	content: '';
}

.board_view_wrap .comment_modify_box textarea{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
	resize: none;
	float: left;
	height: 80px;
	width: calc(85% - 30px);
	margin-right: 15px;
	padding: 7px 10px;
	border:0;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
}

.board_view_wrap .comment_modify_box button{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
	float: left;
	display: block;
	height: 80px;
	margin-right: 15px;
	width: 7.5%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
	border: 0;
	transition: all 0.5s;
}

.board_view_wrap .comment_modify_box button:last-child{
	margin: 0;
}

.board_view_wrap .comment_modify_box button:focus,
.board_view_wrap .comment_modify_box button:hover{
	background-color: skyblue;
}

/* 게시판 댓글 수정 관련 E */


/* 게시판 검색 기능 관련 S */

.search_box_wrap .search_form{
	width: 300px;
	margin: 0 auto;
	position: relative;
}

.search_box_wrap .search_form select{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    width: 90px;
    padding: 5px;
    height: 33px;
    border: 0;
    box-shadow: 0 0 3px black;
}

.search_box_wrap .search_form input[type='text']{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    padding: 5px 40px 5px 10px;
    width: 200px;
    float: right;
    border: 0;
    box-shadow: 0 0 3px black;
    height: 33px;
}

.search_box_wrap .search_form input[type='image']{
	position: absolute;
	width: 33px;
	padding: 7px;
	right: 0;
}

/* 게시판 검색 기능 관련 E */


/* 상품 목록 관련 S */

.goods_list_wrap .title{
	font-size: 1.8rem;
	margin-bottom: 15px;
}

.goods_list_wrap .sub_title{
	font-size: 1.3rem;
	margin-bottom: 30px;
	color: #999;
}

.goods_list_ul:after{
	clear: both;
	display: block;
	content: '';
}

.goods_list_ul li{
	width: calc((100% - 60px) / 3);
	float: left;
	margin-right: 30px;
	margin-bottom: 50px;
	height: 510px;
}

.goods_list_ul li:nth-child(3n+3){
	margin: 0;
}

.goods_list_ul li .goodsImg{
	display: block;
	text-align: center;
	overflow: hidden;
}

.goods_list_ul li .goodsImg:hover img,
.goods_list_ul li .goodsImg:focus img{
	opacity: 0.7;
}

.goods_list_ul li:hover .goodsImg img,
.goods_list_ul li:focus .goodsImg img{
	transform: scale(1.1);
}

.goods_list_ul li .goodsImg img{
	display: inline-block;
	width: auto;
	height: 330px;
	max-width: 100%;
	max-height: 330px;
	transition: all 0.5s;
}

.goods_list_ul li .goodsNm{
	font-size: 1.4rem;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.goods_list_ul li .goodsNm a{
	display: block;
	padding: 20px 0 15px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.goods_list_wrap .info_box_wrap{
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}

.goods_list_wrap .info_box{
	height: 30px;
}

.goods_list_wrap .info_box:after{
	clear: both;
	display: block;
	content: '';
}

.goods_list_wrap .info_box .item_count{
	font-size: 1.2rem;
	float: left;
	line-height: 30px;
}

.goods_list_wrap .info_box .item_count .count{
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid #aaa;
}

.goods_list_wrap .info_box .sort_select{
	float: right;
}

.goods_list_wrap .info_box .sort_select select{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
	height: 30px;
	padding: 0 5px;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 0 3px black;
}

.goods_list_wrap .goods_list_ul_wrap{
	padding-top: 30px;
}

.goods_list_ul li .shortDesc{
	font-size: 1.2rem;
	color: grey;
	margin-bottom: 15px;
}

.goods_list_ul li .price{
	font-size: 1.1rem;
	margin-bottom: 10px;
}

.goods_list_ul li .price .defaultPrice{
	text-decoration: line-through;
	color: grey;
}

.goods_list_ul li .price .salePrice{
	font-size: 1.3rem;
	color: dodgerblue;
}

.goods_list_ul li .stock_info .soldout{
	padding: 5px;
	background-color: red;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_list_ul li .stock_info .low_in_stock{
	padding: 5px;
	background-color: orange;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_list_ul li .stock_info .new_item{
	padding: 5px;
	background-color: green;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_list_ul li .salePoint_wrap{
	margin-bottom: 5px;
}

.goods_list_ul li .salePoint_wrap .salePoint{
	padding: 5px;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

/* 상품 목록 관련 E */

/* 상품 보기 관련 S */

.goods_view_box{
	padding: 0 20px 50px 20px;
	border-bottom: 1px solid #ccc;
}

.goods_view_box:after{
	clear: both;
	display: block;
	content: '';
}

.goods_view_box .goodsImg{
	float: left;
	width: calc((100% - 50px) / 2);
	margin-right: 50px;
	text-align: center;
}

.goods_view_box .goodsInfo{
	float: left;
	width: calc((100% - 50px) / 2);
	border-top: 2px solid #000;
}

.goods_view_box .goodsImg img{
	display: inline-block;
	width: auto;
	height: 100%;
	max-width: 100%;
	max-height: 495px;
}

.goods_view_box .goodsInfo > .goodsNm{
	font-size: 1.5rem;
	padding: 17px 20px 20px 20px;
	border-bottom: 1px solid #ccc;
}

.goods_view_box .goodsInfo > .goodsNm .goodsName{
	margin-bottom: 10px;
}

.goods_view_box .goodsInfo .shortDesc{
	color: grey;
	font-size: 1.2rem;
}

.goods_view_box .stock_info{
	margin-bottom: 10px;
	font-size: 1rem;
}

.goods_view_box .stock_info .soldout{
	padding: 5px;
	background-color: red;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_view_box .stock_info .low_in_stock{
	padding: 5px;
	background-color: orange;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_view_box .stock_info .new_item{
	padding: 5px;
	background-color: green;
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.goods_view_box .price{
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.goods_view_box .price:after{
	clear: both;
	display: block;
	content: '';
}

.goods_view_box .price .title{
	float: left;
	width: 30%;
	font-size: 1.3rem;
}

.goods_view_box .price .content{
	float: left;
	width: 70%;
}

.goods_view_box .price .content .defaultPrice{
	text-decoration: line-through;
	color: grey;
	font-size: 1.1rem;
	margin-right: 5px;
}

.goods_view_box .price .content .salePrice{
	font-size: 1.3rem;
	color: dodgerblue;
	margin-right: 5px;
}

.goods_view_box .price .content .discount{
	font-size: 1.1rem;
	background-color: grey;
	color: white;
	padding: 5px 7px;
	border-radius: 5px;
}

.goods_view_box .option{
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.goods_view_box .option .title{
	font-size: 1.3rem;
	margin-bottom: 15px;
}

.goods_view_box .item_count{
	padding: 20px;
	font-size: 1.2rem;
	border-bottom: 1px solid #ccc;
}

.goods_view_box .item_count:after{
	clear: both;
	display: block;
	content: '';
}

.goods_view_box .item_count .goods_name{
	width: 50%;
	float: left;
	line-height: 25px;
}

.goods_view_box .item_count .goods_count{
	width: 25%;
	float: left;
}

.goods_view_box .item_count .goods_count input{
	width: 50%;
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    height: 25px;
    padding: 0 10px;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
}

.goods_view_box .item_count .goods_price{
	width: 25%;
	float: left;
	line-height: 25px;
	text-align: right;
}

.goods_view_box .item_count .goods_price .price_number{
	margin-right: 3px;
}

.goods_view_box .total{
	padding: 20px;
	font-size: 1.3rem;
	text-align: right;
	border-bottom: 1px solid #ccc;
}

.goods_view_box .total .total_price{
	margin-right: 3px;
}

.goods_view_box .total .total_price_wrap{
	font-size: 1.5rem;
	font-weight: bold;
	color: dodgerblue;
	margin-left: 10px;
}

.goods_view_box .buttons{
	margin-top: 50px;
}

.goods_view_box .buttons:after{
	clear: both;
	display: block;
	content: '';
}

.goods_view_box .buttons a{
	display: inline-block;
	float: left;
	width: calc((100% - 40px) / 3);
	margin-right: 20px;
	text-align: center;
	padding: 20px;
	border: 2px solid lightgrey;
	font-size: 1.2rem;
	letter-spacing: 1px;
	transition: all 0.3s;
}

.goods_view_box .buttons a:hover,
.goods_view_box .buttons a:focus{
	border: 2px solid #333;
}

.goods_view_box .buttons a.buy_now{
	background-color: #333;
	color: white;
	border: 2px solid #333;
}

.goods_view_box .buttons a.buy_now:hover,
.goods_view_box .buttons a.buy_now:focus{
	background-color: white;
	color: black;
}

.goods_view_box .buttons a:last-child{
	margin: 0;
}

.goods_view_wrap .longDesc_wrap{
	text-align: center;
	font-size: 1.2rem;
	padding: 50px 0;
}

.goods_view_wrap .longDesc_wrap .title{
	font-size: 1.5rem;
	margin-bottom: 30px;
}

/* 상품 보기 관련 E */


/* 장바구니 보기 관련 S */

.order_cart_wrap .title{
	font-size: 1.8rem;
	margin-bottom: 30px;
}

.order_cart_table_wrap{
	padding: 20px;
	margin-bottom: 30px;
}

.order_cart_table{
	width: 100%;
}

.order_cart_table thead{
	font-size: 1.2rem;
	background-color: #fafafa;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.order_cart_table thead th{
	padding: 15px 0;
}

.order_cart_table tbody td{
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1rem;
}

.order_cart_table tbody tr{
	border-bottom: 1px solid #ccc;
}

.order_cart_table tbody tr:nth-child(2n){
	background-color: #fafafa;
}

.order_cart_table input[type='checkbox']{
	zoom: 1.3;
}

.order_cart_table .goodsImg img{
	display: inline-block;
	width: auto;
	height: 70px;
	max-width: 100%;
	max-height: 70px;
}

.order_cart_table .goodsNm{
	padding-left: 10px;
	text-align: left;
}

.order_cart_table .goodsCount{
	padding: 0 10px;
}

.order_cart_table .goodsCount input{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    width: 60px;
    height: 25px;
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 0 10px;
}

.order_cart_table .buttons a{
	display: inline-block;
	width: 100px;
	height: 27px;
	line-height: 27px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0 0 2px black;
	transition: all 0.3s;
}

.order_cart_table .buttons a:hover,
.order_cart_table .buttons a:focus{
	opacity: 0.8;
}

.order_cart_table .buttons a:last-child{
	margin: 0;
}

.order_cart_table .buttons a:first-child{
	height: 28px;
	line-height: 28px;
	background-color: #333;
	color: white;
}

.order_cart_table .buttons a.delete:hover,
.order_cart_table .buttons a.delete:focus{
	background-color: #eee;
}

.order_cart_table .buttons i{
	margin-right: 3px;
	position: relative;
	top: 1px;
}

.order_cart_price_wrap{
	padding: 0 20px;
	margin-bottom: 50px;
}

.order_cart_price_table{
	width: 100%;
}

.order_cart_price_table thead{
	font-size: 1.2rem;
	background-color: #fafafa;
}

.order_cart_price_table thead th{
	padding: 15px 0;
}

.order_cart_price_table th,
.order_cart_price_table td{
	border: 1px solid #ccc;
	text-align: center;
}

.order_cart_price_table tbody td{
	font-size: 1.3rem;
	padding: 20px 0;
	font-weight: bold;
}

.order_cart_wrap .order_buttons{
	text-align: center;
}

.order_cart_wrap .order_buttons a{
	display: inline-block;
	padding: 15px 25px;
	font-size: 1.3rem;
	margin-right: 20px;
	background-color: #999;
	color: white;
	border-radius: 5px;
	transition: all 0.3s;
}

.order_cart_wrap .order_buttons a:hover,
.order_cart_wrap .order_buttons a:focus{
	opacity: 0.7;
}

.order_cart_wrap .order_buttons a:first-child{
	background-color: #333;
	color: white;
}

.order_cart_wrap .order_buttons a:last-child{
	margin: 0;
}

.order_cart_wrap .order_empty_info{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 50px;
}

/* 장바구니 보기 관련 E */


/* 주문하기 관련 S */

.order_order_wrap{

}

.order_order_wrap .title{
	font-size: 1.8rem;
	margin-bottom: 50px;
}

.order_order_wrap .sub_title{
	font-size: 1.5rem;
	margin-bottom: 30px;
}


.order_order_wrap .order_order_table_wrap{
	padding: 0 20px;
	margin-bottom: 50px;
}

.order_order_wrap .order_order_table{
	width: 100%;
}

.order_order_table thead{
	font-size: 1.25rem;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order_order_table thead th{
	padding: 15px 0;
}

.order_order_table tbody tr{
	border-bottom: 1px solid #ccc;
}

.order_order_table tbody tr:nth-child(2n){
	background-color: #fafafa;
}

.order_order_table tbody{
	font-size: 1.25rem;
}

.order_order_table tbody td{
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
}

.order_order_table tbody td.goodsNm{
	text-align: left;
	padding-left: 10px;
	font-size: 1.2rem;
}

.order_order_table .goodsImg img{
	display: inline-block;
	width: auto;
	height: 70px;
	max-width: 100%;
	max-height: 70px;
}

.order_info_box{
	padding: 0 20px;
	margin-bottom: 50px;
}



.receiver_info_box{
	padding: 0 20px;
	margin-bottom: 50px;
}

/* 주문하기 관련 E */