@charset "UTF-8";

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'RIDIBatang', sans-serif;
    font-size:12px;
    min-width: 1080px;
}

.layout_width{
    width:1080px;
    min-width:1080px;
    margin:0 auto;
}

.black{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}

.dn{
    display: none;
}

input[type='button']{
    cursor: pointer;
}

input[type='file']{
    cursor: pointer;
}

/* 레이어 팝업 관련 S */

.layer_popup{
    position: fixed;
    z-index: 11;
    width: 600px;
    height: 400px;
    left: calc((100% - 600px) / 2);
    top: calc((100% - 400px) / 2);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}

.layer_popup iframe{
    width: 100%;
    height: 100%;
}

/* 관리자 로그인 관련 S */

.admin_login_wrap{
    height:100%;
    background-color:lightblue;
    padding-top:250px;
    height: 1000px;
}

.admin_login_form{
    width:350px;
    margin:0 auto;
}

.admin_login_form .title{
    font-size:2rem;
    text-align:center;
    margin-bottom:30px;
}

.admin_login_form input{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.5rem;
    display:block;
    width:100%;
    padding:10px 15px;
    border:0;
    box-shadow:0 0 3px lightblue;
    border-radius: 10px;
}

.admin_login_form input:focus{
    box-shadow: 0 0 3px blue;
}

.admin_login_ul li{
    margin-bottom:10px;
}

.admin_login_form input[type='submit']{
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.5s;
    box-shadow: 0 0 5px dodgerblue;
    background-color: dodgerblue;
    color: white;
}

.admin_login_form input[type='submit']:hover,
.admin_login_form input[type='submit']:focus{
    background-color: blue;
}

/* 관리자 로그인 관련 E */

/* 탑 메뉴 관련 S */

.top_menu_wrap{
    background-color: lightblue;
}

.top_menu_ul:after{
    clear: both;
    display: block;
    content: '';
}

.top_menu_ul li{
    float: left;
}


.top_menu_ul li a{
    display: block;
    padding: 20px 30px;
    font-size: 1.5rem;
    transition: all 0.5s;
    width: 150px;
    text-align: center;
}

.top_menu_ul li a.on{
    background-color: dodgerblue;
}

.top_menu_ul li a:focus,
.top_menu_ul li a:hover{
    background-color: dodgerblue;
}

/* 탑 메뉴 관련 E */

/* 서브 메뉴 관련 S */

.sub_menu_wrap{
    background-color: khaki;
    margin-bottom: 50px;
}

.sub_menu_ul:after{
    clear: both;
    display: block;
    content: '';
}

.sub_menu_ul li{
    float: left;
}

.sub_menu_ul li a{
    display: block;
    padding: 15px 30px;
    font-size: 1.2rem;
    transition: all 0.5s;
    width: 130px;
    text-align: center;
}

.sub_menu_ul li a.on{
    background-color: orange;
}

.sub_menu_ul li a:focus,
.sub_menu_ul li a:hover{
    background-color: orange;
}

/* 서브 메뉴 관련 E */

/* 회원관리 - 가입설정 관련 S */

.member_config_form{
    font-size: 1.3rem;
}

.member_config_form .title{
    box-shadow: 0 0 5px dodgerblue;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.member_config_ul li{
    margin-bottom: 20px;
}

.member_config_ul li:after{
    clear: both;
    display: block;
    content: '';
}

.member_config_ul li label{
    line-height: 150px;
    float: left;
    width: 20%;
    text-align: center;
}

.member_config_ul li textarea{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    float: left;
    resize: none;
    height: 150px;
    box-shadow: 0 0 3px dodgerblue;
    border: 0;
    padding: 5px 10px;
    width: 80%;
}

.member_config_form input[type='submit']{
    width: 100%;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.5rem;
    cursor: pointer;
    padding: 10px;
    background-color: skyblue;
    border: 0;
    box-shadow: 0 0 5px dodgerblue;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.member_config_form input[type='submit']:focus,
.member_config_form input[type='submit']:hover{
    background-color: dodgerblue;
    color: white;
}

/* 회원관리 - 가입설정 관련 E */

/* 회원관리 - 회원목록 관련 S */

.member_list_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.member_list_table{
    width: 1040px;
    margin: 0 auto;
}

.member_list_table thead{
    font-size: 1.3rem;
    background-color: lightblue;
}

.member_list_table thead th{
    padding: 15px 0;
    border-right: 1px solid white;
}

.member_list_table tbody{
    font-size: 1.2rem;
    text-align: center;
}

.member_list_table tbody select{
    font-family: 'RIDIBatang', sans-serif;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size:1.1rem;
    height: 30px;
    width: 60px;
    padding-left: 2px;
}

.member_list_table tbody tr{
    height: 59px;
    line-height: 59px;
}

.member_list_table tbody tr:nth-child(2n){
    background-color: lightcyan;
}

.member_list_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.5rem;
    display: block;
    cursor: pointer;
    margin: 30px auto;
    box-shadow: 0 0 3px dodgerblue;
    background-color: skyblue;
    border: 0;
    padding: 15px 40px;
    transition: all 0.5s;
    border-radius: 10px;
    line-height: 2rem;
}

.member_list_form input[type='submit']:hover,
.member_list_form input[type='submit']:focus{
    background-color: dodgerblue;
    color: white;
}

.member_list_form input[type='checkbox']{
    zoom: 1.4;
    position: relative;
    top: 4px;
}

.pagination{
    text-align: center;
    margin-top: 30px;
}

.pagination li{
    display: inline-block;
    font-size: 1.5rem;
}

.pagination li a{
    padding: 5px;
}

.pagination li.on{
    font-size: 1.9rem;
}

/* 회원관리 - 회원목록 관련 E */



/* 회원관리 - 관리자등록 관련 S */

.member_register_form{
    width:100%;
}

.member_register_title{
    font-size:1.8rem;
    margin-bottom:30px;
}
        
.member_register_ul{
    font-size:1.3rem;
    margin-bottom:50px;
}

.member_register_ul li{
    padding:15px;
    border-bottom:1px solid #ccc;
}

.member_register_ul li:after{
    clear:both;
    display:block;
    content:'';
}

.member_register_ul li:first-child{
    border-top:1px solid #ccc;
}

.member_register_ul li label{
    float:left;
    width:200px;
    line-height:32px;
}

.member_register_ul li input{
    float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:5px 10px;
    border:0;
    box-shadow:0 0 3px #999;
    margin-right:10px;
    width:250px;
}

.member_register_ul li select{
    float:left;
    font-family: 'RIDIBatang', sans-serif;
    font-size:1.3rem;
    padding:0 10px;
    border:0;
    box-shadow:0 0 3px #999;
    margin-right:10px;
    width:70px;
    height: 30px;
}

.member_register_ul li input.memPh{
    width:80px;
}

.member_register_ul li input:focus{
    box-shadow:0 0 3px dodgerblue;
}

.member_register_ul li .msg{
    font-size:1.2rem;
    line-height:32px;
}

.member_register_ul li .memAd_ul{
    width:calc(100% - 200px);
    float:left;
}

.member_register_ul li .memAd_ul li{
    border:0;
    padding:0;
    padding-bottom:15px;
}

.member_register_ul li .memAd_ul li input{
    width:400px;
}

.member_register_ul li .memAd_ul li:first-child input{
    width:120px;
}

.member_register_ul li .memAd_ul li:last-child{
    padding:0;
}

.member_register_ul li input[type='button']{
    cursor:pointer;
}

.member_register_ul .msg.error{
    color:red;
}

.member_register_ul .msg.success{
    color:dodgerblue;
}

.member_register_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    transition: all 0.5s;
}

.member_register_form input[type='submit']:focus,
.member_register_form input[type='submit']:hover{
    opacity: 0.5;
}

.member_register_submit_wrap{
    text-align:center;
}


/* 회원관리 - 관리자등록 관련 E */


/* 게시판관리 - 게시판목록 관련 S */

.board_list_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.board_list_table{
    width: 1040px;
    margin: 0 auto;
}

.board_list_table thead{
    font-size: 1.3rem;
    background-color: lightblue;
}

.board_list_table thead th{
    padding: 15px 0;
    border-right: 1px solid white;
}

.board_list_table tbody{
    font-size: 1.2rem;
    text-align: center;
}

.board_list_table tbody select{
    font-family: 'RIDIBatang', sans-serif;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size:1.1rem;
    height: 30px;
    width: 80px;
    padding-left: 2px;
}

.board_list_table tbody tr{
    height: 59px;
    line-height: 1.5rem;
}

.board_list_table tbody tr:nth-child(2n){
    background-color: lightcyan;
}

.board_list_table tbody td{
    display: table-cell;
    vertical-align: middle;
}

.board_list_form input[type='text']{
    font-family: 'RIDIBatang', sans-serif;
    border: 0;
    height: 30px;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0 10px;
    display: block;
    width: 90%;
    margin: 0 auto;
}

.board_list_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    display: block;
    cursor: pointer;
    margin: 30px auto;
    box-shadow: 0 0 3px dodgerblue;
    background-color: skyblue;
    border: 0;
    padding: 15px 40px;
    transition: all 0.5s;
    border-radius: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.board_list_form input[type='submit']:hover,
.board_list_form input[type='submit']:focus{
    background-color: dodgerblue;
    color: white;
}

.board_list_form input[type='checkbox']{
    zoom: 1.4;
    position: relative;
    top: 1px;
}

.pagination{
    text-align: center;
    margin-top: 30px;
}

.pagination li{
    display: inline-block;
    font-size: 1.5rem;
}

.pagination li a{
    padding: 5px;
}

.pagination li.on{
    font-size: 1.9rem;
}

/* 게시판관리 - 게시판목록 관련 E */


/* 게시판관리 - 게시판생성 관련 S */

.board_create_form{
    width: 700px;
    margin: 0 auto;
    padding: 30px 40px;
    box-shadow: 0 0 5px dodgerblue;
    border-radius: 20px;
    font-size: 1.5rem;
}

.board_create_form .title{
    font-size: 1.8rem;
    margin-bottom: 50px;
    text-align: center;
}

.board_create_ul li{
    margin-bottom: 20px;
}

.board_create_ul li:after{
    clear: both;
    display: block;
    content: '';
}

.board_create_ul li label{
    float: left;
    width: 25%;
    line-height: 34px;
}

.board_create_ul li input,
.board_create_ul li textarea,
.board_create_ul li select{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.4rem;
    padding: 5px 10px;
    float: left;
    width: 75%;
    box-shadow: 0 0 3px skyblue;
    border: 0;
    border-radius: 5px;
    resize: none;
    height: 33px;
}

.board_create_ul li input:focus,
.board_create_ul li textarea:focus,
.board_create_ul li select:focus{
    box-shadow: 0 0 3px red;
}

.board_create_ul li textarea{
    height: 150px;
}

.board_create_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#222;
    color:white;
    font-size:1.4rem;
    padding:10px;
    cursor:pointer;
    border-radius:10px;
    border:0;
    width: 60%;
    transition: all 0.5s;
    box-shadow: 0 0 5px black;
    display: block;
    margin: 30px auto 0 auto;
}

.board_create_form input[type='submit']:focus,
.board_create_form input[type='submit']:hover{
    background-color: grey;
}

/* 게시판관리 - 게시판생성 관련 E */


/* 게시판관리 - 배너설정 관련 S */

.admin_banner_wrap{
    font-size: 1.2rem;
}

.admin_banner_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.admin_banner_wrap .bannerImageSet_box_wrap{
    padding: 0 20px;
}

.admin_banner_wrap .bannerImageSet_box{
    padding: 30px;
    box-shadow: 0 0 3px black;
    border-radius: 20px;
}

.admin_banner_wrap .bannerImageSet_ul li{
    margin-bottom: 30px;
    height: 250px;
}

.admin_banner_wrap .bannerImageSet_ul li:last-child{
    margin: 0;
}

.admin_banner_wrap .bannerImageSet_ul li:after{
    clear: both;
    display: block;
    content: '';
}

.admin_banner_wrap .bannerImageSet_ul li .button{
    font-size: 1.5rem;
    line-height: 250px;
    width: 20%;
    float: left;
    margin-right: 20px;
}

.admin_banner_wrap .bannerImageSet_ul li .button a{
    display: block;
    background-color: #eee;
    text-align: center;
    transition: all 0.5s;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.admin_banner_wrap .bannerImageSet_ul li .button a:hover,
.admin_banner_wrap .bannerImageSet_ul li .button a:focus{
    background-color: #777;
    color: #fff;
}

.admin_banner_wrap .bannerImageSet_ul li .preview{
    width: calc(80% - 20px);
    float: left;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #aaa;
    height: 100%;
}

.admin_banner_wrap .bannerImageSet_ul li .preview img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* 게시판관리 - 배너설정 관련 E */


/* 상품관리 - 상품등록 관련 S */

.goods_register_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.goods_register_wrap .red{
    color: red;
    font-size: 1.2rem;
}

.goods_register_form{
    font-size: 1.3rem;
}

.goods_register_ul{
    margin-bottom: 50px;
}

.goods_register_ul > li:first-child{
    border-top: 1px solid #ccc;
}

.goods_register_ul > li{
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.goods_register_ul > li:after{
    clear: both;
    display: block;
    content: '';
}

.goods_register_ul > li i{
    position: relative;
    top: 2.5px;
    margin-right: 3px;
}

.goods_register_ul > li > label{
    width: 200px;
    line-height: 32px;
    float: left;
}

.goods_register_ul > li > input,
.goods_register_ul > li > select{
    float: left;
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: 0;
    box-shadow: 0 0 3px #999;
    width: 250px;
    height: 32px;
    transition: all 0.5s;
}

.goods_register_ul > li > input:focus,
.goods_register_ul > li > select:focus{
    box-shadow: 0 0 3px dodgerblue;
}

.goods_register_ul > li > select{
    padding: 0 10px;
}

.goods_register_ul > li > .radio{
    line-height: 32px;
}

.goods_register_ul > li > .radio label{
    margin-right: 30px;
}

.goods_register_ul > li > .radio input[type='radio']{
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.goods_register_ul .shortDesc input{
    width: 500px;
}

.goods_register_ul > li > div{
    float: left;
    width: calc(100% - 200px);
}

.goods_register_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    transition: all 0.5s;
}

.goods_register_form input[type='submit']:focus,
.goods_register_form input[type='submit']:hover{
    opacity: 0.5;
}

.goods_register_submit_wrap{
    text-align: center;
}

.goods_register_ul .goodsImage_wrap:after{
    clear: both;
    display: block;
    content: '';
}

.goods_register_ul .goodsImage div{
    height: 200px;
}

.goods_register_ul .goodsImage .red{
    color: red;
}

.goods_register_ul .goodsImage input[type='button']{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 3px dodgerblue;
    padding: 5px 10px;
    float: left;
    margin-right: 20px;
    height: 100%;
    transition: all 0.5s;
}

.goods_register_ul .goodsImage input[type='button']:hover,
.goods_register_ul .goodsImage input[type='button']:focus{
    background-color: skyblue;
}

.goods_register_ul .goodsImage .goodsImage_preview{
    width: 200px;
    height: 100%;
    box-shadow: 0 0 3px dodgerblue;
    float: left;
    padding: 5px;
}

.goods_register_ul .goodsImage_preview img{
    width: 100%;
    height: 100%;
}

.goods_register_ul .longDesc .red{
    color: red;
}

.goods_register_ul .longDesc .file_box_wrap:after{
    clear: both;
    display: block;
    content: '';
}

.goods_register_ul .longDesc input[type='button']{
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 3px dodgerblue;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
    height: 100%;
    margin-top: 20px;
    transition: all 0.5s;
    float: left;
    margin-bottom: 10px;
}

.goods_register_ul .longDesc input[type='button']:hover,
.goods_register_ul .longDesc input[type='button']:focus{
    background-color: skyblue;
}

.goods_register_ul .longDesc .file_box{
    float: left;
    width: 100%;
    padding: 10px 15px;
    box-shadow: 0 0 3px red;
    border-radius: 10px;
    margin: 10px 0 5px 0;
}

.goods_register_ul .longDesc .file_box i{
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.goods_register_ul .longDesc .file_box a{
    position: relative;
    top: -1px;
}

/* 상품관리 - 상품등록 관련 E */


/* 상품관리 - 분류설정 관련 S */

.goods_category_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.goods_category_form{
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.goods_category_ul{
    margin-bottom: 40px;
}

.goods_category_ul > li:first-child{
    border-top: 1px solid #ccc;
}

.goods_category_ul > li{
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.goods_category_ul > li:after{
    clear: both;
    display: block;
    content: '';
}

.goods_category_ul > li > label{
    width: 200px;
    line-height: 32px;
    float: left;
}

.goods_category_ul > li > input{
    float: left;
    font-family: 'RIDIBatang', sans-serif;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: 0;
    box-shadow: 0 0 3px #999;
    width: 250px;
    height: 32px;
    transition: all 0.5s;
}

.goods_category_ul > li > input:focus{
    box-shadow: 0 0 3px dodgerblue;
}

.goods_category_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
}

.goods_category_submit_wrap{
    text-align: center;
}

.goods_category_table{
    width: 1040px;
    margin: 0 auto;
}

.goods_category_table thead{
    font-size: 1.3rem;
    background-color: lightblue;
}

.goods_category_table thead th{
    padding: 15px 0;
    border-right: 1px solid #fff;
}

.goods_category_table tbody{
    font-size: 1.2rem;
    text-align: center;
}

.goods_category_table tbody td{
    display: table-cell;
    vertical-align: middle;
}

.goods_category_table tbody tr{
    height: 59px;
    line-height: 1.5rem;
}

.goods_category_table tbody tr:nth-child(2n){
    background-color: lightcyan;
}

.goods_category_table input[type='checkbox']{
    zoom: 1.4;
    position: relative;
    top: 1px;
}

.goods_category_table input[type='radio']{
    position: relative;
    top: 2px;
}

.goods_category_table td label:first-child{
    margin-right: 5px;
}

.goods_category_table_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    margin-top: 30px;
}

.goods_category_submit_wrap{
    text-align: center;
}

/* 상품관리 - 분류설정 관련 E */


/* 상품관리 - 상품목록 관련 S */

.goods_list_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.goods_list_table{
    width: 1040px;
    margin: 0 auto;
}

.goods_list_table thead{
    font-size: 1.3rem;
    background-color: lightblue;
}

.goods_list_table tbody{
    font-size: 1.1rem;
}

.goods_list_table thead th{
    padding: 15px 0;
    border-right: 1px solid #fff;
}

.goods_list_table tbody td{
    text-align: center;
    vertical-align: middle;
}

.goods_list_table tbody .goodsImg{
    padding: 10px;
}

.goods_list_table tbody .goodsImg a{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.goods_list_table tbody .goodsImg img{
    display: block;
    width: 100%;
    height: 100%;
}

.goods_list_table tbody .goodsNm{
    text-align: left;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 73px;
    margin: 0 10px;
}

.goods_list_table tbody tr:nth-child(2n){
    background-color: lightcyan;
}

.goods_list_table tbody td select{
    font-family: 'RIDIBatang', sans-serif;
    height: 30px;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
}

.goods_list_table tbody .buttons a{
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 3px dodgerblue;
    transition: all 0.5s;
    background-color: skyblue;
    margin-right: 10px;
}

.goods_list_table tbody .buttons a:last-child{
    margin:0;
}

.goods_list_table tbody .buttons a:focus,
.goods_list_table tbody .buttons a:hover{
    background-color: dodgerblue;
    color: white;
}

.goods_list_table tbody input[type='text']{
    font-family: 'RIDIBatang', sans-serif;
    width: 50px;
    height: 30px;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    text-align: center;
}

.goods_list_wrap .table_list_submit_wrap{
    text-align: center;
}

.goods_list_table_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    margin-top: 30px;
    transition: all 0.5s;
}

.goods_list_table_form input[type='submit']:focus,
.goods_list_table_form input[type='submit']:hover{
    opacity: 0.5;
}

.goods_list_table_form input[type='checkbox']{
    zoom: 1.5;
}


/* 상품관리 - 상품목록 관련 E */


/* 주문관리 - 주문목록 관련 S */

.order_list_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.order_list_table_wrap{
    padding: 0 20px;
}

.order_list_table{
    width: 100%;
    margin-bottom: 30px;
}

.order_list_table thead{
    font-size: 1.3rem;
    background-color: lightblue;
}

.order_list_table thead th{
    padding: 15px 0;
    border-right: 1px solid white;
}

.order_list_table tbody{
    font-size: 1.2rem;
    text-align: center;
}

.order_list_table tbody select{
    font-family: 'RIDIBatang', sans-serif;
    border: 0;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size:1.1rem;
    height: 30px;
    width: 80px;
    padding-left: 5px;
}

.order_list_table tbody tr{
    height: 59px;
}

.order_list_table tbody tr td{
    vertical-align: middle;
}

.order_list_table tbody tr:nth-child(2n){
    background-color: lightcyan;
}

.order_list_table_form input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    transition: all 0.5s;
}

.order_list_table_form input[type='submit']:focus,
.order_list_table_form input[type='submit']:hover{
    opacity: 0.5;
}

.order_list_submit_wrap{
    text-align: center;
}

.order_list_table_form input[type='checkbox']{
    zoom: 1.4;
}

/* 주문관리 - 주문목록 관련 E */


/* 기타설정 - 임시파일 관련 S */

.etc_temporary_wrap .title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.etc_temporary_wrap input[type='submit']{
    font-family: 'RIDIBatang', sans-serif;
    background-color:#2a2a2a;
    color:white;
    font-size:1.5rem;
    padding:10px 40px;
    cursor:pointer;
    border-radius:5px;
    border:0;
    transition: all 0.5s;
}

.etc_temporary_wrap input[type='submit']:focus,
.etc_temporary_wrap input[type='submit']:hover{
    opacity: 0.5;
}

/* 기타설정 - 임시파일 관련 E */